/* ===========================
   Reset Styles
   =========================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* ===========================
   Utility Classes
   =========================== */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.margin-auto {
  margin: auto;
}

.shadow {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.01), 0 2px 2px hsl(0deg 0% 0% / 0.01),
    0 4px 4px hsl(0deg 0% 0% / 0.01), 0 8px 8px hsl(0deg 0% 0% / 0.01),
    0 16px 16px hsl(0deg 0% 0% / 0.01);
}

.shadow:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.02), 0 2px 2px hsl(0deg 0% 0% / 0.02),
    0 4px 4px hsl(0deg 0% 0% / 0.02), 0 8px 8px hsl(0deg 0% 0% / 0.02),
    0 16px 16px hsl(0deg 0% 0% / 0.02);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* --------------- Responsive Styles ------------- */

/* Extra Small Devices (phones, less than 576px) */
@media (max-width: 575px) {
  .container {
    padding: 10px;
  }
}
